name: lint

on:
  pull_request:
    types: [opened,synchronize]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
      - run: yarn --frozen-lockfile
      - run: yarn lint
